.section-p1{
    display: flex;
    justify-content: center;
    padding-top: 3rem;
}

.section-p1 div{
    justify-content: center;
}
.section-p1 h2{
    text-align: center;
}
.section-p1 h3{
    text-align: center;
}
.section-p1 p{
    padding: 20px;
    text-align: justify;
    
}
