.settingsWrapper{
    flex: 9;
    padding: 40px;
}
.settingsTitle{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.settingsUpdate{
    font-size: 30px;
    margin-bottom: 20px;
    color: rgb(225, 5, 141);
}
.settingsDelete{
    display: flex;
    font-size: 12px;
    cursor: pointer;
}
.settingsForm{
    display: flex;
    flex-direction: column;
}
.settingsPic{
    display: flex;
    align-items: center;
    margin-top: 10px 0;
}
.settingsPic img{
    width: 70px;
    height: 70px;
    border-radius: 50px;
    object-fit: cover;
}
.settingsPicIcon{
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background-color: rgb(225, 5, 141);
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 10px;
    cursor: pointer;
}
.settingsPicIcon:hover{
    background-color: teal;
}
.settingsForm label{
    font-size: 20px;
    margin-top: 20px;
}
.settingFormPro{
    margin-bottom: 10px;
}
.settingsForm input{
    color: gray;
    margin: 8px 0;
    height: 30px;
    border: none;
    outline: none;
    border-bottom: 1px solid rgb(225, 5, 141);
}
.settingsForm input:hover{
    border-bottom-color: teal;
}
.settingsSubmit{
    width: 150px;
    align-self: center;
    border: none;
    border-radius: 20px;
    color: white;
    background-color: rgb(225, 5, 141);
    padding: 10px;
    margin-top: 20px;
    cursor: pointer;
}
.settingsSubmit:hover{
    background-color: teal;
}