.register{
    height: calc(100vh - 50px);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: linear-gradient(
        rgba(255, 255, 255, 0.5)
        rgba(255, 255, 255, 0.5)
    );
    background-size: cover;
} 
.registerTitle{
    font-size: 50px;
}
.registerForm{
    margin-top: 20px;
    display: flex;
    flex-direction: column;
}
.registerForm label{
    margin: 10px 0;
    font-size: 20px;
}
.registerForm input{
    border-bottom: 1px solid black;
    font-size: 15px;
}
.registerForm input:hover{
    border-bottom-color: rgb(225, 5, 141);
}
.registerInput{
    padding: 10px;
    background-color: transparent;
    border: none;
    outline: none;
}
.registerButton{
    margin-top: 20px;
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
    background-color: teal;
    border: none;
    border-radius: 25px;
    height: 40px;
    width: 240px;
}
.registerButton:hover{
    background-color: rgb(225, 5, 141);
}
.registerLogin{
    position: absolute;
    top: 140px;
    right: 70px;
    margin-top: 20px;
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
    background-color: rgb(225, 5, 141);
    border: none;
    border-radius: 25px;
    height: 40px;
    width: 100px;
}
.registerLogin:hover{
    background-color: teal;
}